body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    color: #333;
}

header {
    background: #510d03;
    color: white;
    padding: 50px 20px;
    text-align: center;  
}

header h1 {
    margin: 0;
}

header p {
    margin-top: 10px;
    font-style: italic;
}

.card {
    background: white;
    margin: 30px auto;
    padding: 25px;
    max-width: 600px;
    border-radius: 10px;
}

.card p {
    line-height: 1.6;
}

/* inicial */
header img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
}


footer {
    background: #510d03;
    color: white;
    text-align: center;
    padding: 4px;
    margin-top: 10px;
}